# Server
PORT=3000
NODE_ENV=development

# PostgreSQL (primary shard)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=shardlink

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Slug config
SLUG_LENGTH=7
BASE_URL=http://localhost:3000
